<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/membership">Membership</a> 
        <a href="/aboutus">AboutUs</a>
    </nav>
    <h1>Welcome to Our Gym!</h1>
    <p>Your journey to fitness begins here. Check out our plans and facilities.</p>

</body>
</html>
