<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/membership">Membership</a> 
        <a href="/aboutus">AboutUs</a>

    </nav>
    <h1>Membership</h1>
    <select>
        <option value="select">select</option>
        <option value="weekly">weekly $20</option>
        <option value="monthly">monthly $25</option>
        <option value="annually">annually $50</option>
    </select>
    <button>submitt</button>

</body>
</html>